<div id="<%= container_name %>">
  <div id="<%= container_name %>_spinner" class="sk-spinner sk-spinner-double-bounce">
    <div class="sk-double-bounce1"></div>
    <div class="sk-double-bounce2"></div>
  </div>
</div>

<% content_for :render_async do %>
  <script type="text/javascript">
    (function($){
      $.ajax({
          url: "<%= path %>",
        })
        .done(function(response, status) {
          $("#<%= container_name %>").html(response);
        })
        .fail(function(response, status) {
          $("#<%= container_name %>").html(response);
        })
        .always(function(response, status) {
          $("#<%= container_name %>_spinner").hide();
        });
    }(jQuery));
  </script>
<% end %>
