<div id="<%= container_id %>">
  <%= placeholder %>
</div>

<% content_for :render_async do %>
  <%= javascript_tag html_options do %>
    (function() {
      var request = new XMLHttpRequest();
      var asyncRequest = true;
      var SUCCESS = 200;
      var ERROR = 400;

      request.open("GET", "<%= path %>", asyncRequest);

      request.onload = function() {
        if (request.status >= SUCCESS && request.status < ERROR) {
          document.getElementById("<%= container_id %>").outerHTML = request.responseText;

          <% if event_name.present? %>
            document.dispatchEvent(new Event("<%= event_name %>", response));
          <% end %>
        }
      };

      request.send();
    })();
  <% end %>
<% end %>
