<div id="<%= container_id %>">
  <%= placeholder %>
</div>

<% content_for :render_async do %>
  <%= javascript_tag html_options do %>
    (function(){
      var request = new XMLHttpRequest();
      request.open("GET", "<%= path %>", true);

      request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
          document.getElementById("<%= container_id %>").outerHTML = request.responseText;
        }
      };

      request.send();
    })();
  <% end %>
<% end %>
